/* Schedule */
.wrap {
  width: 100%;
  height: 108vh;
  display: flex;
}
.wrapLeft {
  width: 17.5%;
  background-color: #fffdf0;
}
.wrapCenter {
  width: 65%;
  background-color: #4386ff;
}
.wrapRight {
  width: 17.5%;
  background-color: yellow;
}

/* SchduleCreate */
.createWrap {
  background-color: red;
  margin: 1rem 0;
  width: 100%;
  box-sizing: border-box;
}
.createWrap input[type="date"] {
  width: 141px;
  height: 36px;
  border-radius: 17px;
  border: 1px solid yellow;
  margin: 0.3rem;
  text-align: center;
}
.createWrap input[type="text"] {
  width: 192px;
  height: 36px;
  border-radius: 17px;
  border: 1px solid yellow;
  margin: 0.3rem;
  text-align: center;
}
.createWrap button {
  border-radius: 17px;
}
/* SchduleList */
.dayWrap ul {
  display: flex;
  justify-content: space-around;
  margin: 0.3rem 0;
}
.dayWrap ul > li {
  list-style: none;
}
.dayWrap .active {
  color: black;
  text-decoration: underline;
}
.dayWrap .noActive {
  color: gray;
}

.dayWrap ul > li:hover {
  font-size: 20px;
}
/* SchduleCard */
.worksWrap {
  margin: 1rem;
}
.worksWrap h2 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
.workDay {
  color: red;
}
.work {
  background-color: yellow;
  padding: 1rem;
  border-radius: 10px;
  margin: 0 0 10px 0;
}
.workIndex {
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  margin: 0 10px 0 0;
  align-content: center;
  margin: 0 0 0.4rem 0;
}

.work textarea {
  border: none;
  padding: 0.3rem;
  height: 70px;
  width: 100%;
}
