.hidebtn {
  cursor: pointer;
}

.chathead {
  height: 5vh;
  margin: 1vh 1vw;
}

.chatBox {
  background-color: rgb(255, 255, 255);
}

.chatpart {
  background-color: rgb(255, 255, 255);
  height: 43vh;
  margin: 1vh 1vw;
  overflow-y: auto;
  overflow-x: hidden;
}

.chatinput {
  height: 7vh;
  margin: 1vh 1vw;
  border: 1px solid #ffc51c;
  background-color: white;
}

.inputpart {
  width: 78%;
  height: 70%;
  border: 0px solid transparent;
  margin-top: 3%;
}

.pushbtn {
  background-color: #ffc51c;
  border: 0px solid transparent;
  height: 70%;
  width: 18%;
  border-radius: 10px;
}

.message {
  background-color: rgb(255, 255, 255);
  width: max-content;
  max-width: 180px;
  padding: 1% 4%;
  border-radius: 5px;
  margin: 7px;
  border: 1px solid #ffc51c;
  border-radius: 15px;
}
