.background {
    background-color: #f2f7ff;
    height: 100%;
}

.joinWrap {
    display: flex;
    position: relative;
    align-items: center;
    background: #F2F7FF;
}

.backgroundImg {
    position: absolute;
    background-color: #F2F7FF;
    position: relative;
    object-fit: cover;
}

.message {
    position: absolute;
    font-size: 15px;
    padding-left: 200px;
}

.inputWrap {
    position: absolute;
    display: flex;
}

.inputBox {
    position: absolute;
    width: 500px;
    display: flex;
}

.inputName {
    position: absolute;
    padding-right: 40px;
    width: 130px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 55px;
    text-align: left;
}

.input {
    width: 400px;
    height: 54px;
    font-size: 15px;
    border: 0;
    border-radius: 999px;
    outline: none;
    padding-left: 10px;
    background-color: #D9D9D9;
}


.buttonWrap {
    position: absolute;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-left: 396px;
    margin-top: 50px;
}

.button {
    position: absolute;
    padding: 0;
    /* margin-left: 35px; */
    width: 348px;
    height: 60px;

    background: #D9D9D9;
    border: 0;
    border-radius: 999px;
    cursor: pointer;
}

.profile h4 {
    position: absolute;
    text-align: center;
    margin-top: 20px;
}

.profile img {
    position: absolute;
    border-radius: 50%;
    height: 177px;
    width: 177px;
    cursor: pointer;
    background-color: #D9D9D9;
}

.inputHidden {
    position: absolute;
    display: none;
}

.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 300px;
    background-color: #F2F7FF;
    position: "fixed";
    transform: "translate(-50%, -50%)";
    background-color: "F2F7FF";

}