.background {
    background-color: #f2f7ff;
    height: 100%;
    margin: auto;
    position: relative;
}

.backgroundImg {
    position: absolute;
    background-color: #F2F7FF;
    position: relative;
    object-fit: cover;
    /* margin: 62px auto auto auto; */
}

/* input style */
.inputWrap {
    display: flex;
    position: relative;
    align-items: center;
    background: #F2F7FF;
    width: 1200px;
    height: 955px;
    margin: auto;
}

.inputWrap>input {
    position: absolute;
    left: 50%;
    width: 376px;
    height: 54px;
    font-size: 15px;
    border-radius: 999px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #E2E2E2;
    padding-left: 2%;
}

.inputEmail {
    position: absolute;
    top: 30%
}

.inputNickname {
    position: absolute;
    top: 41.5%
}

.inputPassword {
    position: absolute;
    top: 52.5%
}

.inputConfirm {
    position: absolute;
    top: 63.5%;
}
/* 유효성 메세지 style */
.message > div{
    position: absolute;
    font-size: 15px;
    left: 52%;
}

.emailMsg {
    position: absolute;
    top: 37%;
}

.nickNameMsg {
    position: absolute;
    top: 48%;
}

.pwMsg {
    position: absolute;
    top: 59%;
}

.confirmMsg {
    position: absolute;
    top: 70%;
}

/* inputName style */
.nameWrap>div {
    position: absolute;
    left: 43%;
    width: 130px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 63px;
    text-align: left;
}

.email {
    position: absolute;
    top: 30%;
}

.nickname {
    position: absolute;
    top: 41%;
}

.password {
    position: absolute;
    top: 52%;
}

.confirm {
    position: absolute;
    top: 63%;
}

/* profile img */
.profile h4 {
    position: absolute;
    left: 32.5%;
    top: 52%;
}

.profile img {
    position: absolute;
    border-radius: 50%;
    height: 177px;
    width: 177px;
    cursor: pointer;
    left: 30%;
    top: 30%;

    background: #FFFFFF;
}

.inputHidden {
    position: absolute;
    display: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;

}

/* 회원가입 버튼 */
.button {
    position: absolute;
    padding: 0;
    margin: auto;
    width: 400px;
    height: 54px;
    top: 80%;
    left: 50%;
    background: #FFC51C;
    border: 0;
    border-radius: 999px;
    cursor: pointer;
}

/* 카카오 소셜로그인 로딩화면 */
.loading {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 300px;
    background-color: #F2F7FF;
    position: "fixed";
    transform: "translate(-50%, -50%)";
    background-color: "F2F7FF";

}