input:-webkit-autofill {
  box-shadow: 0 0 0 1000px #FFFFFF inset;
}

.wrap {
  background-color: #F2F7FF;
  overflow: hidden;
  position: relative;
}

.titleWrap {
  width: 1200px;
  height: 100%;
  margin: auto;
}

.title {
  margin: 140px auto;
  margin-left: 100px;
  width: 1000px;
  height: 728px;
  /* cursor: pointer; */
}

.inputBox {
  width: 400px;
  height: 54px;
  margin-left: 400px;
  margin-right: 400px;
  position: absolute;
  top: 53%;
  display: flex;

}

.inputBox1 {
  width: 400px;
  height: 54px;
  margin-left: 400px;
  margin-right: 400px;
  position: absolute;
  top: 63%;
  display: flex;
}

.inputName {
  padding-right: 20px;
  width: 80px;
  font-size: 16px;
  line-height: 40px;
  font-weight: 600;
}

.input {
  background: #FFFFFF;
  border: 1px solid #E2E2E2;
  width: 300px;
  height: 54px;
  font-size: 15px;
  border-radius: 999px;
  outline: none;
  padding-left: 10px;

}

.yellowInput {
  background: #FFFFFF;
  border: 1px solid #FFC51C;
  width: 300px;
  height: 54px;
  font-size: 15px;
  border-radius: 999px;
  outline: none;
  padding-left: 10px;
}

.button {
  width: 400px;
  height: 54px;
  margin-left: 400px;
  margin-right: 400px;
  position: absolute;
  top: 75%;
  background: #FFC51C;
  border: 0;
  border-radius: 999px;
  cursor: pointer;
  font-size: 18px;
  line-height: 40px;
}

.imgBox1 {
  position: relative;
}

.cloud {
  position: absolute;
  left: 76%;
  top: 8%;
}

.cloud1 {
  position: absolute;
  right: 75.5%;
  top: 86.5%;
}