.bicbox {
  background-color: rgb(227, 236, 161);
  width: 270px;
  height: 80vh;
  margin: 50px 20px;
  border-radius: 20px;
}

.toptext {
  text-align: center;
  margin-top: 10px;
}

.boxsize {
  width: 21%;
}
