.background {
  background-color: #f2f7ff;
  height: 100%;
  margin: auto;
  position: relative;
}

.profileLogo {
  position: absolute;
  width: 465px;
  height: 112.37px;
  margin: 70px auto auto auto;
  cursor: pointer;
}

.backgroundImg {
  position: relative;
  margin: 200px auto auto auto;
}

/* input 모음 */
.inputWrap {
  display: flex;
  position: relative;
  justify-content: center;
  background: #f2f7ff;
  width: 1200px;
  /* width: 101rem; */
  height: 955px;
  margin: auto;
}

.inputWrap > input {
  position: absolute;
  left: 50%;
  width: 376px;
  height: 54px;
  font-size: 15px;
  border-radius: 999px;
  outline: none;
  background: #ffffff;
  border: 1px solid #e2e2e2;
  padding-left: 2%;
}

.inputNickname {
  position: absolute;
  top: 30%;
}

.inputPassword {
  position: absolute;
  top: 42%;
}

.inputConfirm {
  position: absolute;
  top: 54%;
}

/* 유효성 메세지 */
.message > div {
  position: absolute;
  font-size: 15px;
  left: 52.5%;
}

.pwMsg {
  position: absolute;
  top: 49%;
}

.confirmMsg {
  position: absolute;
  top: 61%;
}

/* inputName */
.nameWrap > div {
  position: absolute;
  left: 40%;
  width: 130px;
  font-size: 16px;
  line-height: 63px;
  text-align: left;
  font-weight: 600;
}

.nickname {
  position: absolute;
  top: 30%;
}

.password {
  position: absolute;
  top: 41.5%;
}

.confirm {
  position: absolute;
  top: 53.5%;
}

/* profile Img */
.profile h4 {
  position: absolute;
  left: 21.5%;
  top: 52%;
  font-weight: 600;
}

.profile img {
  position: absolute;
  object-fit: cover;
  border: 1px solid #e2e2e2;
  border-radius: 50%;
  height: 177px;
  width: 177px;
  cursor: pointer;
  left: 18%;
  top: 30%;
  background: #ffffff;
}

.inputHidden {
  position: absolute;
  display: none;
  font-size: 16px;
  line-height: 40px;
}

.button {
  position: absolute;
  padding: 0;
  margin: auto;
  width: 400px;
  height: 54px;
  top: 70%;
  left: 50%;
  font-size: 16px;
  line-height: 40px;
  background: #ffc51c;
  border: 0;
  border-radius: 999px;
  cursor: pointer;
  color: black;
}

.button2 {
  position: absolute;
  padding: 0;
  margin: auto;
  width: 400px;
  height: 54px;
  font-size: 16px;
  line-height: 40px;
  top: 78%;
  left: 50%;
  color: #a3a3a3;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  border-radius: 999px;
  cursor: pointer;
}
