.startBox {
    -ms-overflow-style: none;
}

.startBox ::-webkit-scrollbar {
  display: none;
  
}

.startBox {
    background-color: #F2F7FF;
    position: relative;
    object-fit: cover;
    overflow: hidden;
    scrollbar-color: rgba(255, 255, 255, 0);
    
}

.imgBox {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: auto;
}

.title {
    margin: 140px auto;
    margin-left: 100px;
    width: 1000px;
    height: 728px;
}

.description {
  position: absolute;
  top: 57%;
  left: 50%;
  /* margin-left: 366.5px; */
  transform: translate(-50%, -50%);
  font-family: "Roboto";
  font-weight: 400;
  font-size: 25px;
  line-height: 40px;
}

.login {
  padding: auto;
  position: absolute;
  left: 28%;
  top: 63%;

  border: 0;
  outline: 0;
  width: 240px;
  height: 54px;
  background: #ffc51c;
  border-radius: 999px;
  cursor: pointer;
}

.socialLogin {
  padding: auto;
  position: absolute;
  left: 52%;
  top: 63%;

  border: 2px solid #ffc51c;
  outline: 0;
  width: 240px;
  height: 54px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 999px;
  cursor: pointer;
}

.joinText {
  padding: auto;
  position: absolute;
  /* left: 30%; */
  top: 73%;
  margin-left: 352px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
}

.join {
  padding: auto;
  position: absolute;
  left: 65%;
  /* margin-left: 774px; */
  top: 73%;
  background-color: rgba(255, 255, 255, 0);
  border: 0;
  border-radius: 999px;
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
}

.imgBox1 {
  position: relative;
}

.cloud {
    position: absolute;
    left: 92%;
    top: 8%;
}

.cloud1 {
    position: absolute;
    right: 95%;
    top: 86.5%;
}

